doctype html
html.no-js(lang="en")
    include ./header.pug
body
    include ./menu.pug
    .ui.container.main.segment
        h1="All da movies!"
        if (movies)
            a(href="/movies/new").item Add Movie
            each movie, i in movies
                h2=movie.name
                img(src=base_url+"w185/"+movie.poster_path)
                if(movie.voters)
                    .ui.container
                        h3 Selected by:
                        each voter, j in movie.voters
                            .item #{voter}
                - var linkstr = "/movies/" + movie._id;
                a(href=linkstr) Read More
                form(action="/movies/"+movie._id+"/vote", method="POST")
                    input(type="hidden", name="_csrf", value=csrfToken)        
                    button.ui.blue.basic.button Vote for Movie Night
            form(action="/movies?_method=PURGE", method="POST")
                input(type="hidden", name="_csrf", value=csrfToken)        
                button.ui.red.basic.button Reset movie database (!)
        else
            p No Movies Found
        