doctype html
html.no-js(lang="en")
    include ./header.pug
body
    include ./menu.pug
    .ui.container
        h1="Movie Night! To be held on: " + date
        if (movies)
            a(href="/movies/new").ui.black.fluid.button#addMovie Add Movie
            .ui.four.doubling.stackable.cards
                each movie, i in movies
                    .ui.card
                        .ui.header.centered
                            h2=movie.name
                        .image
                            img(src=base_url+"w185/"+movie.poster_path)
                        - var linkstr = "/movies/" + movie._id;
                        form(action="/movies/"+movie._id, method="GET")
                            input(type="hidden", name="_csrf", value=csrfToken)        
                            button.ui.blue.basic.fluid.button Read More
                        form(action="/movies/"+movie._id+"/vote", method="POST")
                            input(type="hidden", name="_csrf", value=csrfToken)        
                            button.ui.blue.basic.fluid.button Vote for this movie!
                        if(movie.voters)
                            .ui.container
                                .ui.black.left.floated.label Selected by:
                                each voter, j in movie.voters
                                    .ui.right.floated.label #{voter}
            if (displayReset)
                form(action="/movies?_method=PURGE", method="POST").ui.form#resetForm
                    input(type="hidden", name="_csrf", value=csrfToken)        
                    button.ui.red.basic.button Reset movie database (!)
            img(src="/TMDBlogo.png").ui.small.right.floated.image
            if (comments)
                h2 Comments
                .ui.piled.segments
                    .ui.segment
                        each comment, i in comments
                            p #{comment.text} - #{comment.user}
                form(action="/comments", method="POST").ui.form
                    h2 Add Comment
                    input(type="text" name="text" maxlength="350" placeholder="Gonna be late? Don't like the date? Need a ride from Kipling?")
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input(type="submit" value="Add Comment").ui.violet.basic.button
        else
            p No Movies Found
        