doctype html
html.no-js(lang="en")
    include ./header.pug
body
    include ./menu.pug
    .ui.main.text.container.segment
        .ui.huge.header Search for Movie
        form(action="/movies/search", method="POST").ui.form
            .field
                label Movie Name
                input(type="text", name="movieName", placeholder="name", required="true")
            .field
                label Release Year (Optional)
                input(type="text", name="movieYear", placeholder="year")
            input(type="hidden", name="_csrf", value=csrfToken)
            input(type="submit" value="Search").ui.violet.basic.button
        if(searches && searches.length > 0)
            each search in searches
                .ui.segment
                    p Movie Name: #{search.name}
                    .image
                        img(src=base_url+"w154/"+search.poster_path)
                    p Release Date: #{search.date}
                    form(action="/movies", method="POST").ui.form
                        input(type="text", name="desc", maxlength="250" placeholder="Describe the appeal of the movie (without spoilers please)")
                        input(type="hidden", name="ID", value=search.ID)
                        input(type="hidden", name="_csrf", value=csrfToken)
                        input(type="submit" value="Add Movie").ui.violet.basic.button
        img(src="/TMDBlogo.png").ui.small.right.floated.image