doctype html
html.no-js(lang="en")
    include ./header2.pug
    body
        include ./menu.pug
        .ui.one.column.stackable.center.aligned.page.grid
            .column.eight.wide
                if movie.poster_path
                    .ui.huge.header #{movie.name}
                    .image
                        img(src=base_url+"w342/"+movie.poster_path)
                    .segment 
                        .content Year of release: #{movie.year}
                    .segment
                        .content Runtime: #{movie.runtime} minutes
                    .segment
                        .content Movie Selected by: #{movie.auth}
                    .segment
                        .content Opinion of #{movie.auth}: #{movie.desc}
                    .ui.accordion
                        .title
                            i.dropdown.icon
                            | Movie Overview (Possible Spoilers)
                        .content
                            p=movie.overview
                else
                    .ui.huge.header #{movie.name}
                    if(movie.year)
                        .item 
                            .content Year of release: #{movie.year}
                form(action="/movies/"+movie._id+"?_method=DELETE", method="POST")
                    input(type="hidden", name="_csrf", value=csrfToken)        
                    button.ui.red.fluid.button Delete
        script.
            $('.ui.accordion').accordion();

